{
    "plugins": [
        "transform-es2015-modules-commonjs",
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "models": "./src/models",
                    "libs": "./src/libs",
                    "middleware": "./src/middleware"
                }
            }
        ]
    ]
}
